  <div class="field">
    エンジン S/# <br>
    <%= text_field_tag 'serialno', @repair.engine.serialno, :disabled=>'true' %><br>
    型式 <br>
    <%= text_field_tag 'engineModelName', @repair.engine.engineModelName, :disabled=>'true' %><br>
  </div>
